<ion-content>
  <form [formGroup]="form">
    <ion-grid>
<ion-row>
  <ion-col size="12" size-md="6" size-lg="12">
    <ion-item lines="none">
      <ion-label position="fixed">Title</ion-label>
      <ion-input placeholder="Enter title here" class="ion-text-right" type="text" formControlName="title"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>


  <!-- <ion-item lines="none">
    <ion-label position="fixed"  >Description</ion-label>
    <ion-input placeholder="Enter description" class="ion-text-right" type="text" [(ngModel)]="event.desc"></ion-input>
  </ion-item> -->

  <!-- <ion-item lines="none">
    <ion-label  >All Day</ion-label>
    <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
  </ion-item> -->
<ion-row>
  <ion-col>
    <ion-item lines="none">
      <ion-label >All Day</ion-label>
      <ion-checkbox
        formControlName="allDay" #allDay></ion-checkbox>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item lines="none" *ngIf="!allDay.checked" #start>
      <ion-label >Start</ion-label>
      <ion-datetime   displayFormat="MM/DD/YYYY HH:mm" pickerFormat="YYYY-MM-DDTHH:mm"
        formControlName="start" [min]="startDate" [max]="endDate"></ion-datetime>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item lines="none" *ngIf="!allDay.checked">
      <ion-label>End</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="YYYY-MM-DDTHH:mm" formControlName="end"
        [min]="startDate" [max]="endDate"></ion-datetime>
    </ion-item>
  </ion-col>
</ion-row>

<ion-button color="success" type="submit" expand="block" (click)="addEvent()">Submit</ion-button>
</ion-grid>
</form>
</ion-content>
