<form [formGroup]="form">
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-label class="card-title" >
          New Event
        </ion-label>
        <ion-icon name="close-outline" slot="end" (click)="onCancel()"></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <ion-item lines="none">
              <ion-label position="fixed" class="card-title">Day Off</ion-label>
              <ion-checkbox name="dayOff" #dayOff></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center" *ngIf="!dayOff.checked">

          <ion-col size="10">
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">Event Title</ion-label>
              <ion-input class="form-input" type="text" placeholder="Event Title" formControlName="title"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="5" >
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">Start Date</ion-label>
              <ion-datetime class="form-input-date" type="text" placeholder="Start Date" formControlName="start"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="5" >
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">Start Time</ion-label>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" class="form-input-date" type="text" placeholder="Start Time" formControlName="startTime"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">End Date</ion-label>
              <ion-datetime class="form-input-date" type="text" placeholder="End Date" formControlName="end"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">End Time</ion-label>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" class="form-input-date" type="text" placeholder="End Time" formControlName="endTime"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="10">
            <ion-item lines="none">
              <ion-label class="form-label" position="stacked">Event Description</ion-label>
              <ion-textarea rows="5" class="form-input" type="text" placeholder="Event Description" formControlName="desc"></ion-textarea>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row class="ion-justify-content-center" *ngIf="dayOff.checked">

          <ion-col size="10">
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">Employee Name</ion-label>
              <ion-input class="form-input" type="text" placeholder="Employee Name" formControlName="title"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="10" >
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">Start Date</ion-label>
              <ion-datetime class="form-input-date" type="text" placeholder="Start Date" formControlName="start"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="10">
            <ion-item lines="none">
              <ion-label position="stacked" class="form-label">Return Date</ion-label>
              <ion-datetime class="form-input-date" type="text" placeholder="End Date" formControlName="end"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
      <ion-col size="8" *ngIf="dayOff.checked">
        <ion-button class="submit-button" type="submit" expand="block" (click)="addEventDayOff()">
          Submit
        </ion-button>
      </ion-col>
      <ion-col size="8" *ngIf="!dayOff.checked">
        <ion-button class="submit-button" type="submit" expand="block" (click)="addEvent()">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</form>
