<ion-header class="ion-no-border">
  <app-header [title]="title"></app-header>

</ion-header>

<ion-content>
  <div class="header">

  </div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/menu/tabs/debtors"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading">Account: {{debtor.deceasedName}}</ion-title>
  </ion-toolbar>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <ion-card>
      <ion-segment [(ngModel)]="segment" value="information">
        <ion-segment-button *ngIf="isMobile" value="information"><ion-label>Information</ion-label></ion-segment-button>
        <ion-segment-button *ngIf="!isMobile" value="information"><ion-label>Account Information</ion-label></ion-segment-button>
        <ion-segment-button value="payments"><ion-label>Payments</ion-label></ion-segment-button>
        <ion-segment-button value="receipts"><ion-label>Receipts</ion-label></ion-segment-button>
      </ion-segment>
      <ion-card-content>
        <ion-grid *ngIf="segment === 'information'">

          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Deceased Name:</ion-label>
                <ion-label>{{debtor.deceasedName}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Responsible Name:</ion-label>
                <ion-label>{{debtor.responsible}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Invoice Date:</ion-label>
                <ion-label>{{debtor.invoiceDate | date: 'dd/MM/yyyy'}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <hr class="hr">

          <ion-card-header>
            <ion-card-subtitle class="card-title">Account Breakdown</ion-card-subtitle>
          </ion-card-header>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" lines="none">
                <ion-label class="form-label">Services Price:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.servicesPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.coffinPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Coffin Details:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.coffinPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.casketCoverPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Casket cover:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.casketCoverPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.coronerDoctorCertPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Coroner/Doctor Cert:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.coronerDoctorCertPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.cremationPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Cremation:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.cremationPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.urnPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Urn:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.urnPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.churchOfferringPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Church Offering:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.churchOfferringPrice | number : '1.2-2'}}</ion-label>
                </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.sacristianPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Sacristian:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.sacristianPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.flowersPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Flowers:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.flowersPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.graveOpenPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Open:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.graveOpenPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.gravePurchasePrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Purchase:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.gravePurchasePrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.graveMarkerPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Marker:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.graveMarkerPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.graveMatsTimbersPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Mats Timbers:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.graveMatsTimbersPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.clothsPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Cloths:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.clothsPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.hairdresserPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Hairdresser:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.hairdresserPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.radioNoticePrice">
              <ion-item lines="none">
                <ion-label class="form-label">Radio Death Notices:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.radioNoticePrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.paperNoticePrice">
              <ion-item lines="none">
                <ion-label class="form-label">Paper Death Notice:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.paperNoticePrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.organistPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Organist:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.organistPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.soloistPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Soloist:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.soloistPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="4" *ngIf="debtor.otherDetailsPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Other Details Price:</ion-label>
                <ion-label class="ion-text-center">€{{debtor.otherDetailsPrice | number : '1.2-2'}}</ion-label>
              </ion-item>
            </ion-col>


        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item lines="none">
              <ion-label class="form-label">Total Balance:</ion-label>
              <ion-label >€{{total | number : '1.2-2'}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

          <!-- <app-information-child  [debtorInfo]="debtor"></app-information-child> -->
        </ion-grid>
        <ion-grid *ngIf="segment === 'payments'" class="payment-grid">
          <ion-row>
            <ion-col size-xs="8" size="8">
              <ion-searchbar (ionChange)="onChange($event)" placeholder="Search by Name"></ion-searchbar>
            </ion-col>
            <ion-col size-xs="4" size="4" class="ion-align-self-center ion-text-start btn-col">
              <ion-button class="new-entry-button" (click)="presentModal()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                New Payment
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="card-details">

              <ion-list>
                <ion-item class="list-item th" *ngIf="!isLoading && payments.length > 0 && !isMobile">
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Name
                  </ion-label>
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Date
                  </ion-label>
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Amount
                  </ion-label>
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Method
                  </ion-label>
                  <ion-icon></ion-icon>
                </ion-item>
                <div *ngIf="isLoading" class="ion-text-center">
                  <ion-spinner color="primary"></ion-spinner>
                </div>
                <div class="ion-text-center no-info" *ngIf="!isLoading && filtered.length <= 0">
                  <p>No Payment Information Found!</p>
                </div>
                <div class="virtualScroll">
                  <cdk-virtual-scroll-viewport minBufferPx="200" maxBufferPx="400" itemSize="65.8" class="viewport" *ngIf="!isLoading && payments.length > 0">
                    <ion-item class="list-item th" *ngIf="filtered.length > 0 && isMobile">
                      <ion-label class="ion-label name " color="primary" style="font-weight: 300;">
                        Name
                      </ion-label>
                      <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                        Date
                      </ion-label>
                      <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                        Amount
                      </ion-label>
                      <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                        Method
                      </ion-label>
                      <ion-icon></ion-icon>
                      <ion-icon></ion-icon>
                    </ion-item>
                    <ion-item *cdkVirtualFor="let payment of filtered" class="ion-item list-item" (click)="onViewPayment(payment.id, payment.paymentId)">
                      <ion-label class="ion-label name">{{payment.payeeName}}</ion-label>
                      <ion-label class="ion-label">{{payment.paymentDate | date: 'dd/MM/yyyy'}}</ion-label>
                      <ion-label class="ion-label">€{{payment.amount}}</ion-label>
                      <ion-label class="ion-label">{{payment.paymentMethod}}</ion-label>
                      <ion-icon name="create" color="primary" (click)="onEditPayment(payment.id, $event)" ></ion-icon>
                    <ion-icon name="trash" color="danger" (click)="deletePayment(payment.id, payment.paymentId,  payment.amount, $event)"></ion-icon>
                    </ion-item>
                  </cdk-virtual-scroll-viewport>
                </div>


              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="segment === 'receipts'" class="payment-grid">
          <ion-row>
            <ion-col size="8">
              <ion-searchbar (ionChange)="onChangeR($event)" placeholder="Search by Name"></ion-searchbar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="card-details">

              <ion-list>
                <ion-item class="list-item th" *ngIf="filteredR.length <= 0">
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Name
                  </ion-label>
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Date
                  </ion-label>
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Amount
                  </ion-label>
                  <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                    Method
                  </ion-label>
                  <ion-icon></ion-icon>
                  <ion-icon></ion-icon>
                </ion-item>
                <div *ngIf="isLoading" class="ion-text-center">
                  <ion-spinner color="primary"></ion-spinner>
                </div>
                <div class="ion-text-center no-info" *ngIf="!isLoading && filteredR.length <= 0">
                  <p>No Receipt Information Found!</p>
                </div>
                <cdk-virtual-scroll-viewport itemSize="65.8" class="viewport" *ngIf="!isLoading && payments.length > 0">
                  <ion-item class="list-item th" *ngIf="filteredR.length > 0">
                    <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                      Name
                    </ion-label>
                    <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                      Date
                    </ion-label>
                    <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                      Amount
                    </ion-label>
                    <ion-label class="ion-label" color="primary" style="font-weight: 300;">
                      Method
                    </ion-label>
                    <ion-icon></ion-icon>
                    <ion-icon></ion-icon>
                  </ion-item>
                  <ion-item *ngFor="let receipt of filteredR" class="ion-item list-item" (click)="onViewReceipt(receipt.id)" >
                    <ion-label class="ion-label name">{{receipt.payeeName}}</ion-label>
                    <ion-label class="ion-label">{{receipt.paymentDate | date: 'dd/MM/yyyy'}}</ion-label>
                    <ion-label class="ion-label">€{{receipt.amount}}</ion-label>
                    <ion-label class="ion-label">{{receipt.paymentMethod}}</ion-label>
                    <ion-icon name="create" color="primary" (click)="onEditReceipt(receipt.id, $event)" ></ion-icon>
                  <ion-icon name="trash" color="danger" (click)="onDeleteReceipt(receipt.id, $event)"></ion-icon>
                  </ion-item>
                </cdk-virtual-scroll-viewport>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
