<div class="container">
  <div class="header">
    <h1>REPS: {{invoice.responsible}}</h1>
    <h1 class="date">Invoice Date: {{invoice.invoiceDate | date: 'dd/MM/yyyy'}}</h1>
    <h1 class="main-heading">FUNERAL EXPENSES OF THE LATE</h1>
    <p class="deceasedInfo">{{invoice.deceasedName}}</p>
    <p class="date-death">{{invoice.address1}}, {{invoice.address2}}, {{invoice.address3}}, {{invoice.county}}</p>
    <p class="date-death">Date of Death: {{invoice.invoiceDate | date: 'dd/MM/yyyy'}}</p>
    </div>

    <div class="items-group">
      <div class="row " *ngIf="invoice.services">
        <div class="col-10 ">
          <p>Services:</p>
          <p>{{invoice.services}}</p>
        </div>
        <div class="col-2">
          <p class="price">€{{invoice.servicesPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.coffinDetails">
        <div class="col-10 entry-div">
          <p>Coffin Details: {{invoice.coffinDetails}}</p>
        </div>
        <div class="col-2 entry-div" >
          <p class="price">€{{invoice.coffinPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.casketCover">
        <div class="col-10 entry-div">
          <p>Casket Cover:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.casketCoverPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.coronerDoctorCert">
        <div class="col-10 entry-div">
          <p>Coroner/Doctor Cert:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price"> €{{invoice.coronerDoctorCertPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.cremation">
        <div class="col-10 entry-div">
          <p>Cremation:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price"> €{{invoice.cremationPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.urn">
        <div class="col-10 entry-div">
          <p>Urn:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price"> €{{invoice.urnPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.churchOfferring">
        <div class="col-10 entry-div">
          <p>Church Offering:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price"> €{{invoice.churchOfferringPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry " *ngIf="invoice.sacristian">
        <div class="col-10 entry-div">
          <p>Sacristian:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.sacristianPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.flowers">
        <div class="col-10 entry-div">
          <p>Flowers:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.flowersPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.graveOpen">
        <div class="col-10 entry-div">
          <p>Grave Open:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.graveOpenPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.gravePurchaseToCouncil">
        <div class="col-10 entry-div">
          <p>Grave Purchase to Council:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.gravePurchasePrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.graveMarker">
        <div class="col-10 entry-div">
          <p>Grave Marker:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.graveMarkerPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.graveMatsTimbers">
        <div class="col-10 entry-div">
          <p>Grave Mats & Timbers:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.graveMatsTimbersPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.cloths">
        <div class="col-10 entry-div">
          <p>Clothes:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.clothsPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.hairdresser">
        <div class="col-10 entry-div">
          <p>Hairdresser</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.hairdresserPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.radioDeathNotices">
        <div class="col-10 entry-div">
          <p>Radio Death Notices:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.radioNoticePrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.paperDeathNotices">
        <div class="col-10 entry-div">
          <p>Paper Death Notices:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.paperNoticePrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.organist">
        <div class="col-10 entry-div">
          <p>Organist:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.organistPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.soloist">
        <div class="col-10 entry-div">
          <p>Soloist:</p>
        </div>
        <div class="col-2 entry-div">
          <p class="price">€{{invoice.soloistPrice | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="row entry" *ngIf="invoice.otherDetails">
        <div class="col-10">
          <p>Other Details:</p>
          <p>{{invoice.otherDetails}}</p>
        </div>
        <div class="col-2">
          <p class="price">€{{invoice.otherDetailsPrice | number : '1.2-2'}}</p>
        </div>
      </div>
    </div>
    <div class="items-group">
      <div class="row">
        <div class="col-10">
          <p>Total Balance:</p>
        </div>
        <div class="col-2">
          <p class="price">€{{invoice.totalBalance | number : '1.2-2'}}</p>
        </div>
      </div>
    </div>


</div>
