ion-item{
  --ion-item-background:white;
  border-radius: 8px;
}
ion-row{
  padding-top:10px
}
ion-col{
  padding: 10px 0px 10px 0px;
}
ion-grid{
  padding-left: 10px;
  padding-right: 10px;
}
ion-card-content{
  padding: 0;
}
ion-grid{
  padding: 0;
}
ion-card{
  width: 85%;
  margin-left:auto;
  margin-right:auto;
}
ion-card-header{
  padding-bottom: 0px;
}
ion-toolbar {
  --ion-toolbar-background: rgba(0, 0, 0, 0.0);
  --ion-toolbar-color: #1b3a57;
  margin-top:-70px;
}

.form-label{
  color: #525f7f;
  margin-bottom: .8rem;
  font-weight: 600;
  font-size: 1.125rem;
}
.checkbox-label{
  color: #525f7f;
  margin-bottom: .8rem;
  font-weight: 600;
  font-size: .875rem;
}
// .col-border{
//   border-right: 1px solid rgba(0,0,0,.1);
// }
.form-input{
  font-size: .875rem;
    transition: all 1.15s ease-in-out;
    height: calc(1.5em + 1.25rem + 5px);
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
    width:100%;
    font-weight: 500;
    line-height: 1.5;
    --placeholder-font-weight:500;
    --padding-start:10px !important;
    --font-weight: 500;
}

ion-item.item-has-focus > .form-input{
  color: #525f7f !important;
  border: 1px solid #3880ff;
}
ion-item.form-input{
  padding-inline-start: 0px !important;
  --padding-start: 0px !important;

}
.price-input ion-item::part(native){
  --padding-start: 0px !important;
}
.new-entry-button{
  font-size: .875rem;
  margin-left: 12px;
}
.alert-radio-group{
  max-height: 500px;
  height: 270px;
}
.header{
  background-color: #3880ff;
  height: 90px;

}
form{
  margin-top: -15px;
  position: relative;
  z-index: 20;
}
ion-title{
  color: white;
}
ion-back-button{
  color:white;
}
ion-col{
  margin-left: 0px !important;
}
@media only screen and (max-width: 576px) {
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-label{
    font-size: .875rem;
  }
  .price-input ion-item::part(native){
    --padding-start: 20px !important;
  }
  .col-border{
    border-right: none;
  }

}
@media only screen and (min-width: 768px) and (max-width:1024px)
{
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-label{
    font-size: .875rem;
  }
  .col-border{
    border-right: none;
  }
  ion-col{
    margin-left: 0px !important;
  }
}
