<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/tabs/data-entry/invoicing"></ion-back-button>
    </ion-buttons>
    <ion-title>Invoice Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="card-title card-title-sub">
          Invoice Information
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Deceased:</ion-label>
                <ion-label>{{invoice.deceasedName}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Responsible:</ion-label>
                <ion-label>{{invoice.responsible}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Invoice Date:</ion-label>
                <ion-label>{{invoice.invoiceDate | date:'dd/MM/yyyy'}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <hr class="hr">

          <ion-card-header>
            <ion-card-subtitle class="card-title">Account Breakdown</ion-card-subtitle>
          </ion-card-header>

          <ion-row>
            <ion-col size="12" size-md="6" size-lg="8">
              <ion-item lines="none">
                <ion-label class="entry-label" position="floating">Services</ion-label>
                <p class="entry-textarea">{{invoice.services}}</p>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none">
                <ion-label class="form-label">Services Price:</ion-label>
                <p >€{{invoice.servicesPrice}}</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size-md="6" size="6" *ngIf="invoice.coffinDetails">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Coffin:</ion-label>
                <ion-label>€{{invoice.coffinPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.casketCover">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Casket Cover:</ion-label>
                <ion-label>€{{invoice.casketCoverPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.churchOfferring">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="form-label">Church Offerring:</ion-label>
                <ion-label>€{{invoice.churchOfferringPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.sacristianPrice">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Sacristian:</ion-label>
                <ion-label>€{{invoice.sacristianPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.flowersPrice">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Flowers:</ion-label>
                <ion-label>€{{invoice.flowersPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.graveOpenPrice">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Grave Open:</ion-label>
                <ion-label>€{{invoice.graveOpenPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.gravePurchasePrice">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Grave Purchase to Council:</ion-label>
                <ion-label>€{{invoice.gravePurchasePrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.graveMarker">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Grave Marker:</ion-label>
                <ion-label>€{{invoice.graveMarkerPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.graveMatsTimbers">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Grave Mats Timbers:</ion-label>
                <ion-label>€{{invoice.graveMatsTimbersPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.cloths">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Cloths:</ion-label>
                <ion-label>€{{invoice.clothsPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.radioDeathNotices">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Radio Death Notices:</ion-label>
                <ion-label>€{{invoice.radioNoticePrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.paperDeathNotices">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Paper Death Notice:</ion-label>
                <ion-label>€{{invoice.paperNoticePrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.organist">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Organist:</ion-label>
                <ion-label>€{{invoice.organistPrice}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size="6" *ngIf="invoice.soloist">
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="form-label">Soloist:</ion-label>
                <ion-label>€{{invoice.soloistPrice}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="invoice.otherDetailsPrice">
            <ion-col size="12" size-md="6" size-lg="8" *ngIf="invoice.otherDetailsPrice">
              <ion-item lines="none">
                <ion-label position="floating" class="entry-label">Other Details</ion-label>
                <p class="entry-textarea">{{invoice.otherDetails}}</p>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none">
                <ion-label class="form-label">Other Details Price:</ion-label>
                <p >€{{invoice.otherDetailsPrice}}</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="invoice.totalBalance">
            <ion-col size-md="6" size="6" >
              <ion-item lines="none" class="ion-text-start" >
                <ion-label class="total-balance">Total Balance:</ion-label>
                <ion-label class="ion-text-start">€{{invoice.totalBalance}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-button class="new-entry-button" color="success" type="submit" expand="block" (click)="printDiv1('print_div')">
                Generate Invoice
              </ion-button>
              <div id="print_div">
                <app-invoice-layout [invoice]="invoice"></app-invoice-layout>
              </div>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="3">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
