ion-row{
  padding-top:10px
}
ion-col{
  padding: 10px 0px 10px 0px;
}
ion-grid{
  padding-left: 10px;
  padding-right: 10px;
}
ion-card-content{
  padding: 0;
}
ion-grid{
  padding: 0;
}
ion-card{
  width: 85%;
  margin-left:auto;
  margin-right:auto;
}
ion-card-header{
  padding-bottom: 0px;
}
ion-toolbar {
  --ion-toolbar-background: rgba(0, 0, 0, 0.0);
  --ion-toolbar-color: #1b3a57;
  margin-top:-70px;
}


.form-input-select{
  font-size: .875rem;
    transition: all 1.15s ease-in-out;

    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
    width:100%;
    font-weight: 500;
    line-height: 1.5;
    --placeholder-font-weight:500;
    --padding-start:.625rem;
    --font-weight: 500;
    --background-hover:transparent;
}
.form-label{
  color: #525f7f;
  margin-bottom: .8rem;
  font-weight: 600;
  font-size: .875rem;
  margin-right: 8px;
}
.checkbox-label{
  color: #525f7f;
  margin-bottom: .8rem;
  font-weight: 600;
  font-size: .875rem;
}
.form-input{
  font-size: .875rem;
    transition: all 1.15s ease-in-out;
    height: calc(1.5em + 1.25rem + 5px);
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
    width:100%;
    font-weight: 500;
    line-height: 1.5;
    --placeholder-font-weight:500;
    --padding-start:10px !important;
    --font-weight: 500;
}

ion-item.item-has-focus > .form-input{
  color: #525f7f !important;
  border: 1px solid #3880ff;
}
ion-item.form-input{
  padding-inline-start: 0px !important;
  --padding-start: 0px !important;

}
.price-input ion-item::part(native){
  --padding-start: 0px !important;
}
.new-entry-button{
  font-size: .875rem;
  margin-left: 12px;
}
ion-textarea.textarea-wrapper{
  display: none;
  height: 100px;
}
.native-textarea.sc-ion-textarea-md{
  display: none;
}
.total-balance{
  color: #525f7f;
  font-weight: 600;
  font-size: 1rem;
}
.row{
  padding: 0px 16px 0px 16px;
}
.header{
  background-color: #3880ff;
  height: 90px;

}
form{
  margin-top: -15px;
  position: relative;
  z-index: 20;
}
ion-title{
  color: white;
}
ion-back-button{
  color:white;
}
@media only screen and (max-width: 576px){
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
  }
  .price-input{
    padding: 0px 20px;
  }
}
