<ion-header class="ion-no-border">
  <app-header [title]="title"></app-header>
</ion-header>


<ion-content>
  <div class="header">

  </div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/menu/tabs/debtors"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading">Account: {{debtor.deceasedName}}</ion-title>
  </ion-toolbar>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="card-title card-title-sub">Account Information</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label position="stacked" class="form-label">Deceased Name:</ion-label>
                <ion-input class="form-input" type="text" formControlName="deceasedName"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label position="stacked" class="form-label">Responsible Name:</ion-label>
                <ion-input class="form-input" type="text" formControlName="responsible"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label position="stacked" class="form-label">Invoice Date:</ion-label>
                <ion-datetime class="form-input-select" type="text" formControlName="invoiceDate"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <hr class="hr">

          <ion-card-header>
            <ion-card-subtitle class="card-title">Account Breakdown</ion-card-subtitle>
          </ion-card-header>
          <ion-row class="row">
            <ion-col size="12" size-md="6" size-lg="2.7" class="ion-align-self-end">
              <ion-item lines="none" lines="none">
                <ion-label class="form-label">Services Price:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="servicesPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" class="ion-align-self-end" *ngIf="debtor.coffinPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Coffin:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.coffinPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="coffinPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" class="ion-align-self-end" *ngIf="debtor.casketCoverPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Casket:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.casketCoverPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="casketCoverPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" class="ion-align-self-end" *ngIf="debtor.coronerDoctorCertPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Coroner/Doctor Cert:</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.coronerDoctorCertPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00"
                  formControlName="coronerDoctorCertPrice"></ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.cremationPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Cremation:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.cremationPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="cremationPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.urnPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Urn:</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.urnPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="urnPrice"></ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.churchOfferringPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Church Offering:</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.churchOfferringPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="churchOfferringPrice"></ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.sacristianPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Sacristian:</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.sacristianPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="sacristianPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.flowersPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Flowers:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.flowersPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="flowersPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.graveOpenPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Open:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.graveOpenPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="graveOpenPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.gravePurchasePrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Purchase:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.gravePurchasePrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="gravePurchasePrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.graveMarkerPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Marker:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.graveMarkerPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="graveMarkerPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.graveMatsTimbersPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Grave Mats Timbers:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.graveMatsTimbersPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="graveMatsTimbersPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.clothsPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Cloths:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.clothsPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="clothsPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.hairdresserPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Hairdresser:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.hairdresserPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="hairdresserPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.radioNoticePrice">
              <ion-item lines="none">
                <ion-label class="form-label">Radio Death Notices:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.radioNoticePrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="radioNoticePrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.paperNoticePrice">
              <ion-item lines="none">
                <ion-label class="form-label">Paper Death Notice:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.paperNoticePrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="paperNoticePrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.organistPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Organist:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.organistPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="organistPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.soloistPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Soloist:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.soloistPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="soloistPrice">
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="2.7" *ngIf="debtor.otherDetailsPrice">
              <ion-item lines="none">
                <ion-label class="form-label">Other Details Price:</ion-label>

              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="1.3" class="ion-align-self-end col-border price-input" *ngIf="debtor.otherDetailsPrice">
              <ion-input class="form-input" type="number" placeholder="€0.00" formControlName="otherDetailsPrice">
              </ion-input>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4">
              <ion-item lines="none" class="ion-text-start">
                <ion-label class="total-balance">Total Balance:</ion-label>
                <ion-label class="ion-text-start">€{{debtor.totalBalance}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-button class="new-entry-button" color="success" type="submit" expand="block"
                (click)="updateDebtor()">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
