<ion-tabs class="ion-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="data-entry">
      <ion-label>Data Entry</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="debtors">
      <ion-label>Debtors</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="coffin-list">
      <ion-label>Coffins</ion-label>
      <ion-icon name="albums"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="reports">
      <ion-label>Reports</ion-label>
      <ion-icon name="checkbox"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-label>Calendar</ion-label>
      <ion-icon name="share"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



