<ion-tabs class="ion-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="data-entry">
      <ion-label>Data Entry</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button  tab="debtors">
      <ion-label>Debtors</ion-label>
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button  tab="coffin-list">
      <ion-label>Coffins</ion-label>
      <ion-icon name="albums-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button  tab="reports">
      <ion-label>Reports</ion-label>
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-label>Calendar</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



