<ion-header class="ion-no-border">
  <app-header [title]="title"></app-header>
</ion-header>

<ion-content>
  <div class="header">

  </div>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-card-subtitle class="card-title">User List</ion-card-subtitle>
        <ion-button slot="end" class="new-entry-button" (click)="addUser()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          New User
        </ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="card-details">
            <ion-item class="list-item th" *ngIf="users.length <= 0">
              <ion-label class="ion-label list-label nh" color="primary" style="font-weight: 300;">
                Email
              </ion-label>
              <ion-label class="ion-label list-label dh" *ngIf="!mobile" color="primary" style="font-weight: 300;">
                Created
              </ion-label>
              <ion-label class="ion-label list-label ah" color="primary" style="font-weight: 300;">
                Role
              </ion-label>

            </ion-item>
            <div *ngIf="isLoading" class="ion-text-center">
              <ion-spinner color="primary"></ion-spinner>
            </div>
            <div class="ion-text-center" *ngIf="!isLoading && users.length <= 0">
              <p >No Users found! Please create one first!</p>
              <ion-button color="primary" (click)="addUser()">Create New User</ion-button>
            </div>
            <div class="virtualScroll">
              <cdk-virtual-scroll-viewport itemSize="65.8" class="viewport" *ngIf="!isLoading && users.length > 0">
                <ion-item class="list-item th">
                  <ion-label class="ion-label list-label nh" color="primary" style="font-weight: 300;">
                    Email
                  </ion-label>
                  <ion-label class="ion-label list-label dh" *ngIf="!mobile" color="primary" style="font-weight: 300;">
                    Created
                  </ion-label>
                  <ion-label class="ion-label list-label ah" color="primary" style="font-weight: 300;">
                    Role
                  </ion-label>
                </ion-item>
                <ion-item *cdkVirtualFor="let user of users" class="ion-item list-item"
                (click)="onView(user.id)">
                  <ion-label class="ion-label list-label name nh">{{user.email}}</ion-label>
                  <ion-label class="ion-label list-label dh" *ngIf="!mobile">{{user.createdAt | date: 'dd/MM/yyyy'}}</ion-label>
                  <ion-label class="ion-label list-label ah">{{user.role}}</ion-label>
                </ion-item>
              </cdk-virtual-scroll-viewport>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
