
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-label class="card-title" >
            Add User
          </ion-label>
          <ion-icon name="close-outline" slot="end" (click)="onCancel()"></ion-icon>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="6" size-lg="12">
              <ion-item lines="none">
                <ion-label class="form-label" position="stacked">Employee Name</ion-label>
                <ion-input class="form-input"
                  type="text"
                  formControlName="name"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="12">
              <ion-item lines="none">
                <ion-label class="form-label" position="stacked">Email</ion-label>
                <ion-input class="form-input"
                  type="email"
                  required
                  formControlName="email"


                ></ion-input>
              </ion-item>
              <ion-item *ngIf="!form.get('email').valid && form.get('email').touched"
            lines="none">
              <ion-label class="error-message" color="danger">*Should be a valid email address</ion-label>
            </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="12">
              <ion-item lines="none">
                <ion-label class="form-label" position="stacked">Password</ion-label>
                <ion-input class="form-input"
                  type="text"
                  formControlName="password"
                  required
                ></ion-input>
              </ion-item>
              <ion-item *ngIf="!form.get('password').valid && form.get('password').touched"
            lines="none">
              <ion-label class="error-message" color="danger">*Password should be at least 6 characters</ion-label>
            </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6" size-lg="12">
              <ion-item lines="none">
                <ion-label class="form-label" position="stacked">User Role</ion-label>
                <ion-select class="form-input-date"  formControlName="role">
                  <ion-select-option  class="select" value="staff">Staff</ion-select-option>
                  <ion-select-option class="select" value="management">Management</ion-select-option>
                  <ion-select-option class="select" value="admin">Administrator</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-button class="submit-button" color="success" type="submit" expand="block" (click)="onAddUser()">
            Add User
          </ion-button>
        </ion-col>
      </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</form>
