<div class="container">
  <div class="row">
    <div size="col-12">
      <p class="oceanfm">Send to news@oceanfm.ie</p>
    </div>

  </div>
  <div class="row ">
    <div size="col-12">
      <p class="header">Foley & Mc Gowan’s Funeral Home</p>
    </div>

  </div>
  <div class="row">
    <div size="col-12">
      <p>Old Market House,</p>
      <p>Market Yard,</p>
      <p>Sligo</p>
    </div>

  </div>
  <div class="row">
    <div size="col-12">
      <p>Tel : 071-9162140</p>
      <p>Fax : 071-9143057</p>
      <p>Email: sligofuneralhome@eircom.net</p>
    </div>

  </div>
  <div class="row">
    <div size="col-12">
      <p>{{deceased.noticePar1}}</p>

    </div>
  </div>
  <div class="row">
    <div size="col-12">
      <p>{{deceased.noticePar2}}</p>

    </div>
  </div>
  <div class="row">
    <div size="col-12">
      <p>{{radioNoticePar3}}</p>

    </div>
  </div>
  <div size="col-12">
    <p>{{radioNoticePar4}}</p>

  </div>

</div>
