.ion-label {
  font-size: 0.875rem;
  padding: 12px 24px;
}
.name {
  color: #525f7f;
  font-weight: 600;
  font-size: 0.875rem;
}
.ion-item {
  font-size: 14px;
  cursor: pointer;
}

ion-icon:hover:not(.menu-icon) {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

ion-card-content {
  padding: 0;
}
ion-grid {
  padding: 0;
}
.card-details {
  padding: 0;
}
.button-round {
  --padding-start: 1em;
  --padding-end: 1em;
}
ion-card {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  border-radius: 0.375rem;
}
@media only screen and (max-width: 416px) {
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
ion-list {
  padding-bottom: 0px;
}
ion-card-header {
  padding: 0px;
}
ion-icon {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  ion-button .menu-icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  ion-menu-button {
    display: none;
  }
}

ion-toolbar {
  padding-left: 15px;
  padding-right: 15px;
}
.list-item::part(native) {
  padding-inline-start: 0px;
}
.th {
  --background: #f6f9fc;
  line-height: 0.5;
  ion-label {
    color: #8898aa;
    font-weight: 400;
  }
}
.virtualScroll {
  display: flex;
  align-self: center;
}
.viewport {
  height: 400px;
  width: 100%;

  box-shadow: 1px 1px 1px grey;
}
.header{
  background-color: #3880ff;
  height: 90px;
  border-radius: 0px 0px 20px 20px;
}
@media only screen and (max-width: 576px) {
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
  }
  .desktopSearch{
    display: none;
  }
  .col-buttons{
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .search-icon{
    font-size: 0.75em;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
    font-weight: 600;
    transition: all 0.15s ease;
    color: #32325d;
  }
  .ion-label{
    text-overflow: unset;
    padding: 1rem 2.5rem 1rem 1rem;
  }
}
@media only screen and (min-width: 577px)
{
  .mobile-search{
    display: none;
  }

}
@media only screen and (min-width: 768px) and (max-width:991px)
{
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-buttons{
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
