p {
  font-size: 16px;
}

ion-item{
  --ion-item-background:white;
  border-radius: 8px;
}
ion-col{
  padding: 0px 16px;
}
ion-grid{
  padding-left: 10px;
  padding-right: 10px;
}
ion-card-content{
  padding: 0;
}
ion-grid{
  padding: 0;
}
ion-card{
  width: 85%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:16px;
  padding-top:16px;
  margin-top: -20px;
}
ion-card-header{
  padding-bottom: 0px;
}
ion-card-header:not(.card-title-sub){
  padding-top: 0px !important;
}
ion-toolbar {
  --ion-toolbar-background: rgba(0, 0, 0, 0.0);
  --ion-toolbar-color: #c9dcee;
  margin-top:-70px;
}


.hr{
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-left: 1.8em;
  margin-right: 1.8em;
}
.cemetery-col{
  padding-right: 0px;
 }
 .subtitle{
  font-size: 1rem;
  font-weight: 600;
  color: #32325d;
 }
 .new-entry-button{
  font-size: .875rem;
  margin-top: 16px;
}
.form-label{
  color: #525f7f;
  font-weight: 600;
  font-size: .875rem;
}
ion-item ion-label{
  font-size: .875rem;
}
.header{
  background-color: #3880ff;
  height: 90px;

}
form{
  margin-top: -30px;
  position: relative;
  z-index: 20;
}
ion-title{
  color: white;
}
ion-back-button{
  color:white;
}
.card-title{
  padding-left: 16px;
}
.notice-label{
  font-size: 1.125rem !important;
}
ion-item ion-textarea{
  font-size: .875rem;
}
.radio-notice{
  font-size: 0.75em;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
    font-weight: 600;
    transition: all 0.15s ease;
}
.item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs), .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
  opacity: 1;
}
.sub{
  padding-left: 0px;
}

@media only screen and (max-width: 576px) {
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .radio-notice{
    font-size: 0.55rem;
  }
  .notice-lg{
    display:none;
  }
  .notice-mb{
    padding-top: 10px;
  }
  .new-entry-button{
    font-size: 0.75rem;
  }
  .notice-label{
    opacity: 1 !important;
    font-size: .875rem !important;
  }

}
@media only screen and (min-width: 768px) and (max-width:991px)
{
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  ion-col{
    padding:0px;
  }
  .card-title{
    padding-left:0px;
  }
  .notice-label{
    opacity: 1;
  }
}
@media only screen and (min-width: 992px) {
  .notice-mb{
    display:none;
  }
  .notice-label{
    opacity: 1 !important;
  }
}

