.ion-label {
  font-size: 0.875rem;
  padding: 12px 24px;
}
.name {
  color: #525f7f;
  font-weight: 600;
  font-size: 0.875rem;
}
.ion-item {
  font-size: 14px;
  cursor: pointer;
}
ion-icon {
  font-size: 20px;
}
ion-icon:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

.ion-item {
  font-size: 14px;
  cursor: pointer;
}

ion-card-content {
  padding: 0;
}
ion-grid {
  padding: 0;
}
.card-details {
  padding: 0;
}
.button-round {
  --padding-start: 1em;
  --padding-end: 1em;
}
ion-card {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  border-radius: 0.375rem;
}

ion-list {
  padding-bottom: 0px;
}
.list-item::part(native) {
  padding-inline-start: 0px;
}
.th {
  --background: #f6f9fc;
  line-height: 0.5;
  ion-label {
    color: #8898aa;
    font-weight: 400;
  }
}
.viewport {
  height: calc(100vh - 383px);
  width: 100%;

  box-shadow: 1px 1px 1px grey;
}
.virtualScroll {
  display: flex;
  align-self: center;
}
ion-content{
  margin-top: -4.5rem!important;
}
.header{
  background-color: #3880ff;
  height: 60px;
  border-radius: 0px 0px 20px 20px;
}
@media only screen and (min-width: 768px) and (max-width:991px)
{
  ion-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-buttons{
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 576px) {
  .viewport {
    // height: 52vh;
    height: calc(100vh - 351px);
    width: 100%;
    box-shadow: 1px 1px 1px grey;
  }
  ion-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
  }
}
