/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Angular Calendar Import */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


@import "./theme/form.scss";
.alert-radio-label.sc-ion-alert-md {
  white-space: normal !important;
}

.alert-wrapper{
  --max-width: 35%;
}
.cal-modal {
  --height:80%;
  --background-color: transparent;
}
.cal-modal .modal-wrapper{
  background-color: transparent;
  box-shadow: none;
 }
.new-donation{
  --height:80%;
  --background-color: transparent;
}
.new-event{
  --height:100%;
  --background-color: transparent;
}
.new-event .modal-wrapper{
  background-color: transparent;
  box-shadow: none;
 }
.new-donation .modal-wrapper{
 background-color: transparent;
 box-shadow: none;
}
.new-tip{
  --height:100%;
  --background-color: transparent;
}
.new-tip .modal-wrapper{
  background-color: transparent;
  box-shadow: none;
 }
.event-modal{
  --border-radius: 10px;
  --width: 38%;
}
.new-filter-button{
  border-color: #fff;
  color: #3880ff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    --border-radius: .25rem;
    font-size: .75em;
    font-weight:600;
    --background: transparent;
    transition: all .15s ease;
    text-transform: uppercase;
}
.new-filter-button:hover{
  box-shadow: 0, 7px, 14px rgba(50, 50, 93 , 0.10), 0, 3px, 6px rgba(0, 0, 0 , 0.08);
    transform: translateY(-1px);
    color: #32325d;
}
.new-entry-button {
  font-size: .75em;
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    --border-radius: .25rem;
    font-weight:600;
    text-transform: uppercase;
    transition: all .15s ease;
}
.new-entry-button:hover{
  box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.10), 0px 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);

}
.no-info {
  padding: 10px 0px;
}
.card-title {
  font-size: 1.0625rem;
  font-weight: 600;
  color: #32325d;
}
.monthview-datetable tbody tr{
  height: 106px;
}
.monthview-datetable tbody tr td div{
  text-align:start;
  font-size: .875rem;
  font-weight: 600;
  color: #67779d;
}
.monthview-datetable thead tr th{
  text-align:left !important;
}
.monthview-datetable thead tr th small{
  text-align:start;
    font-size: .75rem;
    font-weight: 600;
    color: #8898aa;
    text-transform: uppercase;
}
//forms
.submit-button{
  font-size: .875em;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    --border-radius: .25rem;
    font-weight:600;

    transition: all .15s ease;
    text-transform: uppercase;
}
.submit-button:hover{
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);

}
.selectForm{
  --placeholder-color:#32325d;
  --placeholder-opacity: 1;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: .25rem;
  font-weight:600;
  transition: all .15s ease;
}
.selectForm:hover{
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);

}
.custom-payee .alert-wrapper .alert-input-group .alert-input{
  font-size: .875rem;
    transition: all 1.15s ease-in-out;
    height: calc(1.5em + 1.25rem + 5px);
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
    width:100%;
    font-weight: 500;
    line-height: 1.5;
    --placeholder-font-weight:500;
    --padding-start:.625rem;
    --font-weight: 500;
    padding:.625rem;

}
.custom-payee .alert-wrapper .alert-input-group{
  padding-top:0px;
    padding-bottom:0px;

}

.custom-payee .alert-wrapper .alert-head .alert-title{
  color: #525f7f;
  margin-bottom: .8rem;
  font-weight: 600;
  font-size: .875rem;
}
.custom-payee .alert-wrapper .alert-head{
  padding-bottom: 0px;
}
@media screen and (max-width: 767px){
  ion-searchbar .searchbar-input-container input::placeholder {
    font-size: 14px;
  }
  ion-searchbar .searchbar-input-container .searchbar-search-icon{
    width:16px;
  }
}
.ionic-selectable-modal span{
color:white;
}
@media only screen and (max-width: 576px) {
  .card-title {
    font-size: .875rem;
    font-weight: 600;
    color: #32325d;
    margin-bottom:0px;
}
}
#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 12;
}
.hidden {
  display: none;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: white !important;
}
.alert-head{
  background-color: #3880ff;
}
.alert-title{
  color: white !important;
}
