<ion-content>
<div class="container">
  <div>
    <div size="12">
      <p class="oceanfm">Send to news@oceanfm.ie</p>
    </div>

  </div>
  <ion-row>
    <ion-col size="12">
      <p class="header">Foley & Mc Gowan’s Funeral Home</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>Old Market House,</p>
      <p>Market Yard,</p>
      <p>Sligo</p>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>Tel : 071-9162140</p>
      <p>Fax : 071-9143057</p>
      <p>Email: sligofuneralhome@eircom.net</p>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>{{deceased.noticePar1}}</p>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>{{deceased.noticePar2}}</p>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>{{radioNoticePar3}}</p>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>{{radioNoticePar4}}</p>
    </ion-col>
  </ion-row>

</div>
</ion-content>
