
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-label class="card-title" >
            Edit Cemetery Entry
          </ion-label>
          <ion-icon name="close-outline" slot="end" (click)="onCancel()"></ion-icon>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <div *ngIf="isLoading" class="ion-text-center">
            <ion-spinner color="primary"></ion-spinner>
          </div>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-item>
                <ion-label class="form-label" position="floating">Cemetery Name</ion-label>
                <ion-input
                  type="text"
                  formControlName="cemeteryName"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-button class="submit-button" color="success" type="submit" expand="block" (click)="onUpdateCemetery()">
            Update
          </ion-button>
        </ion-col>
      </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</form>

